<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Core.WinForms" version="16.3.0.21" targetFramework="net46" />
  <package id="Syncfusion.DataSource.WinForms" version="16.3.0.21" targetFramework="net46" />
  <package id="Syncfusion.GridCommon.WinForms" version="16.3.0.21" targetFramework="net46" />
  <package id="Syncfusion.Licensing" version="16.3.0.21" targetFramework="net46" />
  <package id="Syncfusion.Office2016Theme.WinForms" version="16.3.0.21" targetFramework="net46" />
  <package id="Syncfusion.SfListView.WinForms" version="16.3.0.21" targetFramework="net46" />
</packages>